* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: black;
}
a {
  text-decoration: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}
.clearfix {
  clear: both;
}
.left {
  background-color: rgb(28, 27, 27);
  width: 220px;
  height: 1200px;
}
.main-header__brand {
  display: flex;
  vertical-align: middle;
}
.main-header__brand img {
  width: 30px;
  border-radius: 5px;
  margin: 22px;
  margin-left: 40px;
  /* display: inline-block; */
}
.main-header__brand h4 {
  position: relative;
  display: flex;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500px;
  bottom: 50px;
  left: 80px;
}
.main-navigation {
  padding: 20px auto;
  justify-content: space-around;
  align-items: center;
}
.main-menu {
  position: relative;
  color: white;
  font-size: 20px;
  bottom: 25px;
  left: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.main-navigation__items {
  justify-content: space-around;
  align-items: center;
  display: inline;
}
.main-navigation__item {
  position: relative;
  padding: 22px;
  margin-left: 20px;
  color: white;
  bottom: 15px;
}
.main-navigation__item a {
  color: white;
  margin: 10px;
  font-size: 15px;
}
.main-library {
  position: relative;
  top: 10px;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.main-category {
  position: relative;
  top: 10px;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.main-general {
  position: relative;
  top: 10px;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -1490px;
  margin-left: -440px;
  padding: 90px 20px;
}
.header a{
    position: relative;
    justify-content: space-between;
    /* margin: 20px; */
    padding: 30px;
    left: 80px;
    color: rgb(213, 210, 210);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
