* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: black;
}
a {
  text-decoration: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}
.clearfix {
  clear: both;
}
.left {
  background-color: rgb(28, 27, 27);
  width: 220px;
  height: 1200px;
}
.main-header__brand {
  display: flex;
  vertical-align: middle;
}
.main-header__brand img {
  width: 30px;
  border-radius: 5px;
  margin: 22px;
  margin-left: 40px;
  /* display: inline-block; */
}
.main-header__brand h4 {
  position: relative;
  display: flex;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500px;
  bottom: 50px;
  left: 80px;
}
.main-navigation {
  padding: 20px auto;
  justify-content: space-around;
  align-items: center;
}
.main-menu {
  position: relative;
  color: white;
  font-size: 20px;
  bottom: 25px;
  left: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.main-navigation__items {
  justify-content: space-around;
  align-items: center;
  display: inline;
}
.main-navigation__item {
  position: relative;
  padding: 22px;
  margin-left: 20px;
  color: white;
  bottom: 15px;
}
.main-navigation__item a {
  color: white;
  margin: 10px;
  font-size: 15px;
}
.main-library {
  position: relative;
  top: 10px;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.main-category {
  position: relative;
  top: 10px;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.main-general {
  position: relative;
  top: 10px;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -1490px;
  margin-left: -440px;
  padding: 90px 20px;
}

.header a {
  position: relative;
  justify-content: space-between;
  /* margin: 20px; */
  padding: 30px;
  left: 395px;
  color: rgb(213, 210, 210);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.image_center img {
  position: relative;
  width: 650px;
  height: 400px;
  top: 310px;
  left: 46px;
  z-index: -1;
}
.image_center h5 {
  position: relative;
  left: 78px;
  bottom: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.image_center h1 {
  position: relative;
  left: 75px;
  letter-spacing: 2px;
}
.image_center h4 {
  position: relative;
  top: 15px;
  left: 76px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.button_center {
  position: relative;
  top: 30px;
  left: 76px;
}
.button_center-first {
  padding: 14px 55px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: brown;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  /* width: 20px; */
}
.button_center-second {
  position: relative;
  padding: 8px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  top: 5px;
  left: 3px;
  background-color: rgb(243, 240, 240);
  color: black;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
.main-playing {
  position: relative;
  top: 218px;
  margin-left: -27px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.main-image_center {
  display: inline-block;
  position: relative;
  top: 180px;
  left: 248px;
  justify-content: space-around;
  z-index: 1;
}
.main-image_center img {
  padding: 4px;
  z-index: 1;
}
.image_center-2 {
  width: 167px;
  z-index: 1;
}
.image_center-3 {
  width: 182px;
  z-index: 1;
}
.image_center-4 {
  width: 170px;
  z-index: 1;
}
.main-button_center {
  position: relative;
  left: 50px;
  z-index: 1;
}
.main_center-first {
  position: relative;
  top: 110px;
  left: 210px;
  padding: 14px 35px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: brown;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.main_center-second {
  position: relative;
  bottom: 60px;
  left: 160px;
  padding: 6px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  /* top: 5px; */
  /* left: 3px; */
  background-color: rgb(243, 240, 240);
  color: black;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
.btn_center-first {
  position: relative;
  top: 110px;
  left: 192px;
  padding: 14px 35px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: brown;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.btn_center-second {
  position: relative;
  bottom: 60px;
  left: 139px;
  padding: 6px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: rgb(243, 240, 240);
  color: black;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
.section_center-first {
  position: relative;
  top: 110px;
  left: 178px;
  padding: 14px 35px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: brown;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.section_center-second {
  position: relative;
  bottom: 60px;
  left: 132px;
  padding: 6px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: rgb(243, 240, 240);
  color: black;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
.nr_center-first {
  position: relative;
  top: 110px;
  left: 162px;
  padding: 14px 35px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: brown;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.nr_center-second {
  position: relative;
  bottom: 60px;
  left: 115px;
  padding: 6px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: rgb(243, 240, 240);
  color: black;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
.main-movies_center {
  position: relative;
  top: 170px;
  margin-left: 260px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.main-cinema_center {
  display: flex;
}
.main-cinema_first {
  position: relative;
  width: 222px;
  height: 160px;
  top: 205px;
  left: 255px;
  border-radius: 5px;
}
.main-cinema_second {
  position: relative;
  width: 222px;
  height: 160px;
  top: 205px;
  left: 267px;
  border-radius: 5px;
}
.main-cinema_third {
  position: relative;
  width: 222px;
  height: 160px;
  left: 278px;
  top: 205px;
  border-radius: 5px;
}
.main-cinema_header {
  display: flex;
}
.header_first {
  position: relative;
  top: 170px;
  margin-left: 290px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}
.header_second {
  position: relative;
  top: 170px;
  margin-left: 65px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}
.header_third {
  position: relative;
  top: 170px;
  margin-left: 40px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}
.right {
  display: inline;
  position: relative;
  width: 100px;
  height: 800px;
  background-color: rgb(28, 27, 27);
}
.main-header_input {
  display: inline;
  /* width: 100px; */
  /* height: 900px; */
  background-color: rgb(28, 27, 27);
  position: relative;
  left: 990px;
  bottom: 850px;
}
